#map_canvas {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-style:solid;
  border-width:3px;
  border-color:#424343;}
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* extra */
.button:hover {
  background: #148ba0;
  text-decoration: none;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

div.container{
  margin-bottom: 130px;
}

div#logo.container{
  padding-top: 20px;
  margin-bottom: 30px;
}